/*
Description: HTML template for real estate businesses
Version: 1.0
Author: Fiifi Pius Geek | fiifipius@gmail.com
*/

/**
 * 1.0 - General
 */
  .hand-cursor {
    cursor: pointer;
  }
  .total-properties {
    display: none;
  }

  a.disabled {
    pointer-events: none;
    cursor: default;
  }

  .bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 2;
    width: 30%;
    padding: 20px;
  }

 /* NAVS */
  .nav-blue-background {
    background-color: #1C2765;
  }
  
  .mobile-menu-items{
    display: none;
  }

 .profile-avatar-container{
    box-sizing: border-box;  
    -webkit-box-sizing: border-box;
    border: 0.5% solid #eff2f9;
    background-color: #fff !important;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
 }

.mobile-profile-avatar {
  display: none;
}

 .pull-content-down {
   margin-top: 140px !important;
 }

 /* Notification */
.noti-icon-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 9px;
}

.notification-list {
  max-height: 220px;
}

.notification-list {
  margin-left: 0;
}

.notification-list .noti-title {
  border-radius: 0.25rem 0.25rem 0 0;
  margin: -4px 0px 0px 0px;
  width: auto;
  padding: 12px 20px;
}

.notification-list .noti-title h5 {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.notification-list .noti-icon {
  font-size: 22px;
  vertical-align: middle;
  color: #a4abc5;
}

.notification-list .noti-icon-badge {
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 2px 4px 2px;
}

.notification-list .notify-item {
  padding: 10px 20px;
}

.notification-list .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  color: #ffffff;
}

.notification-list .notify-item .notify-icon img {
  margin-top: 4px;
}

.notification-list .notify-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-list .notify-item .notify-details b {
  font-weight: 500;
}

.notification-list .notify-item .notify-details small {
  display: block;
  white-space: normal;
}

.notification-list .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

 
  /* THUMB SIZES */
 .thumb-xxs {
    height: 24px !important;
    width: 24px !important;
    font-size: 10px;
    font-weight: 700;
  }
  
  .thumb-xs {
    height: 32px !important;
    width: 32px !important;
    font-size: 10px;
    font-weight: 700;
  }
  
  .thumb-sm {
    height: 36px !important;
    width: 36px !important;
    font-size: 12px;
    font-weight: 700;
  }
  
  .thumb-md {
    height: 48px;
    width: 48px;
    font-size: 14px;
    font-weight: 700;
  }
  
  .thumb-lg {
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .thumb-xl {
    height: 78px;
    width: 78px;
    font-size: 28px;
    font-weight: 700;
  }


  /* FONT SIZES */
  .font-10 {
    font-size: 10px !important;
  }
  
  .font-11 {
    font-size: 11px !important;
  }
  
  .font-12 {
    font-size: 12px !important;
  }
  
  .font-13 {
    font-size: 13px !important;
  }
  
  .font-14 {
    font-size: 14px !important;
  }
  
  .font-15 {
    font-size: 15px !important;
  }
  
  .font-16 {
    font-size: 16px !important;
  }
  
  .font-18 {
    font-size: 18px !important;
  }
  
  .font-20 {
    font-size: 20px !important;
  }
  
  .font-22 {
    font-size: 22px !important;
  }
  
  .font-24 {
    font-size: 24px !important;
  }

 
  /* TEXT COLORS */
  .text-light-dark {
    color:#484848 !important
  }

  .text-pink {
    color: #fd3c97 !important;
  }
  
  .text-purple {
    color: #6d81f5 !important;
  }
  
  .text-light {
    color: #f1f5fa !important;
  }
  
  .text-dark {
    color: #2f4686 !important;
  }

  .text-gray {
    color: #333333 !important;
  }
  
  /* IMAGES */
  .img-right{
    float: right;
    clear: left;
  }
  .img-left{
      float: left;
      clear: right;
  }
  .no-border {
      border:none !important;
  }
    
  .remove-on-every-screen{
      display: none !important;
  }

  .img-filter {
    filter: grayscale(20%);
    filter: contrast(100%);
    filter: saturate(100%);
  }



  /* CARDS */
  .card {
    margin-bottom: 24px;
    border: none;
    -webkit-box-shadow: 0 6px 20px rgba(36, 37, 38, 0.08);
            box-shadow: 0 6px 20px rgba(36, 37, 38, 0.08);
    border-radius: 3px;
    background-color: #ffffff;
  }
  
  .card-border {
    border: 1px solid #eff2f9;
  }
      
  .card-header {
    background-color: #eff2f9;
    border-bottom: 1px solid #eff2f9;
  }
  
  .card-footer {
    background-color: #f1f5fa;
    border-top: 1px solid #eff2f9;
  }
  
  .card-primary {
    background-color: #0656ff;
  }
  
  .card-secondary {
    background-color: #0dc8de;
  }
  
  .card-success {
    background-color: #1ecab8;
  }
  
  .card-warning {
    background-color: #ffb822;
  }
  
  .card-info {
    background-color: #9ba7ca;
  }
  
  .card-danger {
    background-color: #f1646c;
  }
  
  .card-dark {
    background-color: #2f4686;
  }
  
  .card-light {
    background-color: #f1f5fa;
    color: #8997bd;
  }
  
  .card-pink {
    background-color: #fd3c97;
  }
  
  .card-purple {
    background-color: #6d81f5;
  }
  
  .card-blue {
    background-color: #2b55cc;
  }

  .card-bordered-pink{
    border: solid #fd3c97 !important; 
    border-radius: 10px; 
    border-width: 1px !important;
  }

  .card-bordered-blue{
    border: solid #0656ff !important; 
    border-radius: 10px; 
    border-width: 1px !important;
  }

  .card-bordered-grey{
    border: solid #808080 !important; 
    border-radius: 10px; 
    border-width: 1px !important;
  }



  /* WISHLIST ICON */
  .on-top{
    position: absolute;
    z-index: 1;
  }

  .on-down{
    position: absolute;
    z-index: -1;
  }

  .heart-hover:hover {
      font-size: 16px;
  }

  .text-decoration-none{
    text-decoration: none !important;
  }

  .on-top-save{
      width: 26px;
      height: 26px;
      background: #ffffff; 
      border-radius: 50%;
      text-align: center;
      line-height: 25px;
      font-size: .8rem;
      cursor: pointer;
  }

  .on-top-tag{
    width: 100px;
    height: 26px;
    background: #262637; 
    text-align: center;
    line-height: 25px;
    font-size: .8rem;
    margin-left: 65%;
  }


  /* PROPERTIES */
  .own-property-get-started {
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 1;
  }

  .own-property-bottom {
    margin-bottom: 1000px;
  }

  .own-property-detail {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
  }
  .steps-container-mobile {
    display: none;
  }

  

  /* BUTTONS */
  .btn-tomato {
    background-color: #ff6347 !important;
    color: #ffffff;
    border-radius: 5%;
  }
  .btn-tomato:hover {
    color: #ffffff;
  }

  /* CUSTOME SCROLL BAR */
  /* width */
  .custom-scroller::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  .custom-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  /* Handle */
  .custom-scroller::-webkit-scrollbar-thumb {
    background: #a9a9a9; 
    border-radius: 10px;
  }

  /* Handle on hover */
  .custom-scroller::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
  }
  /* end custom scroll bars */


  /* HELP collapsable */
  .ul-style {
    list-style-type: none;
  }
  
  .myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
    /* background-color: midnightblue; */
  }
  
  .active {
    display: block;
  }
  
  .hidden{
    display: none !important;
  }

  .show-answer{
    cursor: pointer;
  }

  .non-underline{
    text-decoration: none !important;
  }

  .text-dark{
    color: #000f !important;
  }
  /* end help collapsable */

  .border-link {
    border-left: solid red !important;
  }
  
  /* IDs  */
  #showCalculations{
    display: none;
  }

.hide-logo-on-scroll {
  display: none;
}



/* ACCOUNTS */
.account-options {
  display: inline-block;
}

.account-mobile-init-view {
  display: none;
}

/* MESSAGES */
.inbox-blue-background {
  background-color: #0171bb !important;
}

/* BOOKING */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin-left: 0%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

@media screen and (max-width: 450px){
  .flip-box {
    width: auto;
    margin: 0% !important;
  }  
}
@media screen and (max-width: 768px){
  .flip-box {
    width: auto;
    margin: 0% !important;
  }  
}
@media screen and (max-width: 1024px){
  .flip-box {
    width: auto;
    margin: 0% !important;
  }  
}
/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2% !important;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* MAPS */
.gmaps1, .gmaps-panaroma {
  height: 500px;
  background: #f1f5fa;
  border-radius: 3px;
}

.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #f1f5fa;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #0656ff;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #0656ff;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #0656ff;
}

/***** CONTACT US *****/
.contact-us-heading {
  display: inline-block;
}


/********* HELP *********/
.help-card-tiles {
  display: inline;
}

.help-card-tiles-responsive {
  display: none;
}

#myInput {
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown1 {
  position: relative;
  display: inline-block; 
}

.dropdown-content1 {
  display: inline;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 500px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content1-href {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.show-help-menu {
  display: none;
}


/********* VISITS *********/
.visit-options {
  display: block;
}

.visit-mobile-init-view {
  display: none;
}



/* MEDIA QUERIES */

@media screen and (min-width: 1024px){
  .font-12-sm-laptop {
    font-size: 10px !important;
  }
  .font-14-sm-laptop {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 1440px){
  .font-12-lg-laptop {
    font-size: 12px !important;
  }
  .font-14-lg-laptop {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 991px){
  .pxp-prop-card-1-sm {
    display: block;
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 230px;
  }

  .nav-logo-sm {
    display: none;
  }

  .mobile-menu-items {
    display: inline-block;
  }

  .account-details {
    display: none;
  }

  .account-icon {
    display: none;
  }

  .account-options {
    display: none;
  }

  .account-mobile-init-view {
    display: inline-block;
  }

  .mobile-profile-avatar {
    display: inline-block;
  }

  .listing-progress {
    display: none;
  }
  
  .bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 2;
    width: 80%;
    padding: 10px;
  }

}

@media screen and (max-width: 768px){
  .pxp-prop-card-1-sm {
    display: block;
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 300px;
  }

  .sub-menu-item {
    margin-left: 3%;
  }

  .font-14-large {
    font-size: 20px;
  }
  .oshelter {
    display: none;
  }
  
  .nav-logo-sm {
    display: inline-block;
  }
  
  .steps-container {
    display: none;
  }

  .steps-container-mobile {
    display: inline-block;
  }
  .inbox-blue-background {
    background-color: #0171bb !important;
  }

  .contact-us-heading {
    display: none;
  }

  .visit-options {
    display: none;
  }

  .visit-mobile-init-view {
    display: block;
  }

  .total-properties {
    display: inline;
  }

  .gmaps1, .gmaps-panaroma {
    height: 300px;
    background: #f1f5fa;
    border-radius: 3px;
  }

}

@media screen and (max-width: 576px){
  .pxp-prop-card-1-sm {
    display: block;
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 400px;
  }

  .on-top-tag{
    width: 110px;
    height: 26px;
    background: #262637; 
    text-align: center;
    line-height: 25px;
    font-size: .8rem;
    margin-left: 75%;
  }

  .help-card-tiles-responsive {
    display: inline;
  }

  .help-card-tiles {
    display: none;
  }

  .pull-content-down {
    margin-top: 100px !important;
  }


  .hide-help-menu {
    display: none;
  }

  .show-help-menu {
    display: block;
  }

}

@media screen and (max-width: 575px){
  .category-menu {
    display: none;
  }

  .topic-menu {
    display: none;
  }

  .question-menu {
    display: none;
  }

}

@media screen and (max-width: 500px){
  .dropdown-content1 {
    min-width: 350px;
  }

}


@media screen and (max-width: 375px){
  .dropdown-content1 {
    min-width: 250px;
  }

  .pxp-prop-card-1-sm {
    display: block;
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 330px;
  }

  .on-top-tag{
    width: 100px;
    height: 26px;
    background: #262637; 
    text-align: center;
    line-height: 25px;
    font-size: .8rem;
    margin-left: 70%;
  }
}

@media screen and (max-width: 320px){
  .dropdown-content1 {
    min-width: 200px;
  }
}

@media screen and (min-width: 768px){
  .font-14-large {
    font-size: 16px;
  }
}

@media screen and (min-width: 320px){
  .own-property-bottom {
    margin-bottom: 1500px;
  }
}

@media screen and (min-width: 375px){
  .own-property-bottom {
    margin-bottom: 1400px;
  }
  
}

@media screen and (min-width: 425px){
  .own-property-bottom {
    margin-bottom: 1400px;
  }
}

@media screen and (min-width: 1024px){
  .own-property-bottom {
    margin-bottom: 1000px;
  }
}

@media screen and (min-width: 2560px){
  .own-property-bottom {
    margin-bottom: 500px;
  }
}

      